CONFIG_IDF_TARGET="esp32s3"

# LR2021 radio driver (esp_lora_driver)
CONFIG_SMTC_RADIO_LR20XX=y
CONFIG_LIERDA_BOARD_LRMAM36_FANN4=y
CONFIG_SMTC_RAC_LOG_MINIMAL=y

# Keep app logs on the native USB-Serial/JTAG port used by idf.py monitor.
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set

CONFIG_CAM_CTRL_SPI_ENABLE=y
CONFIG_CAM_CTLR_SPI_ISR_CACHE_SAFE=n
CONFIG_CAM_CTLR_SPI_DECODE_TASK_STACK_SIZE=6144
CONFIG_CAM_CTLR_SPI_DECODE_TASK_PRIORITY=10
CONFIG_ESP_VIDEO_ENABLE_SPI_VIDEO_DEVICE=y
# CONFIG_ESP_VIDEO_ENABLE_USB_UVC_VIDEO_DEVICE is not set

CONFIG_CAMERA_SP0A39=y
CONFIG_CAMERA_SP0A39_AUTO_DETECT_SPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_SP0A39_DVP_GRAY_640X480_30FPS=y
CONFIG_CAMERA_SP0A39_DVP_DEFAULT_FMT_GRAY_640X480_30FPS=y
CONFIG_CAMERA_SP0A39_SPI_1BIT_GRAY_640X480_4FPS=y
CONFIG_CAMERA_SP0A39_SPI_DEFAULT_FMT_1BIT_GRAY_640X480_4FPS=y
